#window { 
    background-color: #483D8B; 
    }
    
#treeview { 
    border: 0.5px solid #ffffff;
    color: #DCDCDC;
    }
    
#bouton_remove {
    border: 0.5px solid yellow;
    background: white;
    color: blue;
    }
    
#bouton_ok {
    border: 0.5px solid yellow;
    background: white;
    color: blue;
    }
    
#bouton_add {
    border: 0.5px solid yellow;
    background: white;
    color: blue;
    }
    
#scrolled_win {
    background-color: white;
}

#fixed {
    background-color: white;
}