#window {
    background: #f4e7d7;
}

#textview {
    font-family: "Monospace";
    font-size: 12px;
    font-weight: bold;
}


#find {
    background: white;
    color: black;
    margin: 10px;
    border: 2px solid #8c6026;
    border-radius: 10px;
}

#find:hover {
    background: #8c6026;
    color: yellow;
    margin: 10px;
    border: 2px solid #8c6026;
}


#frame {
    border: 1px solid white;
}

#entry {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
}